     <head>
	<meta charset="UTF-8">
	<meta name="description" content="Развлечения для фанатов аниме"/>
    {% load static %}
   <link rel = "stylesheet", href="{% static 'css/style.css' %}">

	<title> {% block title %}{% endblock %}</title>
</head>
           {% block content %}
    {% load static %}


     <header>
       <div class="logo">
           <a href="{% url 'main' %}"><img class="graficlogo" src="{% static 'img/logo.png' %}" alt="logo"></a>
        </div>

     </header>

     <main>
         <div class="about_container">
             <p><h1>Серия фасадов зданий «Самоцветы»</h1></p>
             {% include 'navigation.html' %}
             <div align="justify">
             <p><h4>Архитектурной концепцией серии послужили образы драгоценных и полудрагоценных камней, поэтому в каждой работе
             разрабатывается ряд стилистических решений, связанных с определенным камнем. У зданий разное назначение, акцент
             ставится на визуальном восприятии построек. К работам прилагается название камня, его фотография и модульное
             изображение работы. Все сооружения выполнены из железо-бетонной конструкции с добавлениемстеклянных панелей в частях,
             где должен быть самоцвет.</h4></p>
         </div>
       </div>
     </main>

     <div class="about_container">
         <p><h1>Камни, использующиеся в проекте</h1></p>
     </div>

     <main>
          <div class="advantages_container">
             <div class="advantages">
                 <div class="advantages_items">
                     <img src="{% static 'img/1.png' %}" alt="1">
                     <h2>Аметист</h2>
                     <div align="justify">
                     <p><h5>Амети́ст — фиолетовая, синевато-розовая или красно-фиолетовая разновидность кварца.
                            Прозрачный аметист относится к полудрагоценным камням. Непрозрачный — ценный поделочный камень.
                            Весьма высоко ценится как коллекционный минерал.</h5></p>
                    </div>
                  </div>
                 <div class="advantages_items">
                     <img src="{% static 'img/2.png' %}" alt="2">
                     <h2>Кварц</h2>
                     <div align="justify">
                     <p><h5>Кварц — один из самых распространённых минералов в земной коре, породообразующий
                            минерал большинства магматических и метаморфических пород. Свободное содержание
                            в земной коре — 12 %. Входит в состав других минералов в виде смесей и силикатов.</h5></p>
                    </div>
                  </div>
                 <div class="advantages_items">
                     <img src="{% static 'img/3.png' %}" alt="3">
                     <h2>Опал</h2>
                     <div align="justify">
                     <p><h5>Опа́л — минералоид, аморфный кремнезём, широко используемый в ювелирном деле.
                            Опал был редким и очень ценным в древности. В Европе это был драгоценный камень,
                            который ценили члены королевских семей. Опал является национальным
                            драгоценным камнем Австралии.</h5></p>
                    </div>
                  </div>
                 <div class="advantages_items">
                     <img src="{% static 'img/4.png' %}" alt="4">
                     <h2>Малахит</h2>
                     <div align="justify">
                     <p><h5>Малахи́т — минерал, основный карбонат меди. Образует зелёные массы натёчной
                            формы с радиально-волокнистым строением. Используется для поделок, раньше
                            — для добычи меди. Наибольшие современные месторождения находятся в Африке.
                            Раньше малахит высокого качества добывали на Урале.</h5></p>
                    </div>
                  </div>
                 <div class="advantages_items">
                     <img src="{% static 'img/5.png' %}" alt="5">
                     <h2>Рубин</h2>
                     <div align="justify">
                     <p><h5>Руби́н — минерал, разновидность корунда, относится к классу оксидов, тригональная
                            сингония, драгоценный камень красного цвета.Прозрачные красные камни получили
                            название «рубин» (от латинского «rubeus, ruber, rubrum» — краснеющий),
                            а прозрачные синие — сапфир. Также есть версия, что название происходит от
                            санскритского ratnaraj, что означает «царь драгоценных камней»[3].</h5></p>
                    </div>
                  </div>
                 <div class="advantages_items">
                     <img src="{% static 'img/7.png' %}" alt="7">
                     <h2>Топаз</h2>
                     <div align="justify">
                     <p><h5>Топа́з — полудрагоценный камень, минерал из группы основных силикатов алюминия.
                            Кристаллизуется в ромбической сингонии, ромбо-бипирамидальный вид симметрии.
                            Название топаз получил по месту первой его находки на острове Топазиос в Красном море;
                            по другой версии — от санскритского слова «тапас» — тепло[1]. Устаревшее название
                            голубого или бесцветного топаза — «тяжеловес».</h5></p>
                    </div>
                 </div>
              </div>
          </div>
       </main>

     <footer>
         <nav>
             <a href="main.html">Вернуться на главную</a>
         </nav>

         <div class="logo">
             <a href="{% url 'main' %}"><img src="{% static 'img/logo.png' %}" alt="logo" class="graficlogo"></a>
         </div>
         <div class="social">
             <a href="https://mail.ru/"><img src="{% static 'img/em.png' %}" alt="1"></a>
             <a href="https://www.facebook.com/"><img src="{% static 'img/face.png' %}" alt="2"></a>
             <a href="https://www.google.ru/"><img src="{% static 'img/goo.png' %}" alt="3"></a>
             <a href="https://www.instagram.com/"><img src="{% static 'img/inst.png' %}" alt="4"></a>
         </div>
    </footer>

{% endblock %}