<nav class="nav">
<div class="topnav">


				<a  {% if 'astro' in request.path %} class="link_activated" {% else %} class="nav__link"{% endif %} href="{% url 'astro' %}">Астрология</a>
				<a  {% if 'kamni' in request.path %} class="link_activated" {% else %} class="nav__link"{% endif %} href="{% url 'kamni' %}">Камни</a>
				<a  {% if 'main' in request.path %} class="link_activated" {% else %} class="nav__link"{% endif %} href="{% url 'main' %}">Главная</a>
				<a  {% if 'progect' in request.path %} class="link_activated" {% else %} class="nav__link"{% endif %} href="{% url 'progect' %}">Проекты</a>
				<a  {% if 'samocv' in request.path %} class="link_activated" {% else %} class="nav__link"{% endif %} href="{% url 'samocv' %}">Самоцветы</a>
				<a  {% if 'algorithm' in request.path %} class="link_activated" {% else %} class="nav__link"{% endif %} href="{% url 'algorithm' %}">Задача</a>
                <a  {% if 'shop' in request.path %} class="link_activated" {% else %} class="nav__link"{% endif %} href="{% url 'shop' %}">Магазин</a>
                <button class="button" onclick="location.href='{% url 'create_reply' %}'">Остались вопросы?</button>
</div>
</nav>